
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.table-container {
    width: 80%;
    /* border-collapse: collapse; */
    margin: 20px 0 !important;
    border-spacing: 10px !important;
    
}
.table-container th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

.table-container td {
    border: 1px solid #dddddd;
    padding: 8px;
}
.table-container td.value {
    font-weight: bold;
}
.table-container td.field {
    width: 30%;
    border: none !important;
}

.input-checker-holder {
    margin-top: 20px;
}


.section-holder .data-title{
    display: flex;
    justify-self: left;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    color: #333;
    position: relative;

}
.section-holder .data-title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 100%;
    border-radius: 8px;
    background-color: #c4c4c4;

}

