
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(to bottom, white, #D8F3D8, #FFFACD, #ADD8E6, #e9c0fa);
}
header {
}
header .top-header {
    width: 100%;
    height: 60vh;
    /* background-image: url('img/feet-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat; */
    background-position-y: 60%;
    /* background-color: #248232; */
    padding: 5vh 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .top-header .img-portion {
    overflow: hidden;
}
header .top-header .img-portion img {
    height: 100%;
    overflow: hidden;
}
.title-gradient {
    background: linear-gradient(to right, #4CAF50, #87CEEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-top: 0;
    font-weight: 900;
}















main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}
.form-holder{
    /* position: ; */
    max-width: 900px;
    width: 90%;
    border-radius: 6px;
    margin: 0 15px 10vh 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: fit-content;
}


.form-holder .form-holder-header {
    height: 100px;
    width: 100%;
    background-image: url('img/tactor.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 70%;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 0 20px;
}
.form-holder a {
    
    text-decoration-line: none !important;
}
.form-holder h2{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    width: 100%;
    font-weight: bolder;
    
}
.form-holder h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(to left, #4CAF50, #87CEEB);
}


.form-holder form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
    padding: 10px 30px;
}
.form-holder form .form{
    position: relative;
    background-color: #fff;
    transition: 0.3s ease;
}
.form-holder form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}


.form-holder form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
    position: relative;
}
.form-holder .details span.title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 100%;
    border-radius: 8px;
    background-color: #c4c4c4;

}


.form-holder form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    background-color: #eeeeee;
    border-radius: 10px;
    border: none;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input:hover,
.input-field select:hover{
    box-shadow: 0 0 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}

form .fields .radio-field{
    width: calc(100% / 3 - 15px);
    margin: 4px 0;
}
form .fields .radio-field input{
    padding-left: 20px;
}

form .fields .check-field{
    display: block;
    width: 100%;
    flex-direction: column;
    margin: 4px 0;
}
.check-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 20px;
    margin: 10px;
}


.form-holder form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.form-holder form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .form-holder form{
        overflow-y: scroll;
    }
    .form-holder form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}




.form-holder .hidden-field {
    display: none;
}


.farm-parcel-details {
    padding: 20px;
    border: #707070 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
}


.input-with-remove {
    display: flex;
    align-items: center;
    width: 100% !important;
}
.input-with-remove input {
    flex: 1;
}
.input-with-remove button {
    margin-left: 5% !important;
    height: 40px !important;
    border-radius: 10px !important;
    background-color: #aaa !important;
}
.input-with-remove button:hover {
    background-color: #4070f4 !important;
}
.form-holder .button-holder {
    display: flex;
    justify-content: end;
}
.form-holder .button-holder button {
    
    height: 40px !important;
    border-radius: 10px !important;
}
.form-holder .field-add-button {
}


.width-full {
    width: 100% !important;    
}
.width-half {
    width: calc(100% / 2 - 15px) !important;    
}
.required::after {
	content: ' *';
	color: red;
}