body {
    font-family: "Montserrat", Helvetica, sans-serif;
}

.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

nav {
    height: 5vh;
}

#home {
    height: 90%;
}

.home {
    height: 100%;
}

.my-into {
    font-size: 8vh;
}


.profile-img {
    border-radius: 100%;
    width: 250px;
}
