body {
    font-family: "Montserrat", Helvetica, sans-serif;
}

.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

nav {
    height: 5vh;
}

#home {
    height: 90%;
}

.home {
    height: 100%;
}

.my-into {
    font-size: 8vh;
}


.profile-img {
    border-radius: 100%;
    width: 250px !important;
}


.contact-info {
	color: white;
    padding: 50px 0;
}

.message-me {
	height: 550px;	
}

.messaging {
	border-radius: 20px;
    color: black;
}


footer {
    color: white;
}
