body {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
	margin: 0;
	background-color: #eee;
}


.container-section {
	margin: 8vh;
	display: flex;
	justify-content: center;
}

.main-container {
	width: 60vw;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px grey;
}
.main-container .form-title {
	text-align: left;
}
.main-container p {
	margin: 0;
}
.main-container label {
	color: #888;
}
.main-container .input-holder-wrapped {
	margin: 15px 0;
	display: flex;
	width: 100%;
	flex-flow: row;
}
.main-container .input-holder-wrapped .input-holder {
	padding: 1vh 0vw;
	padding-right: 30px;
	margin: 40px auto;
	height: 5vh;
	border: 0;
	margin-top: 10px;
	border-radius: 5px;
}
.main-container .input-holder input, select{
	padding: 1vh;
	width: 100% !important;
	height: 30px;
	border: 1px solid rgb(225, 225, 225, 1.0);
	margin-top: 10px;
	border-radius: 5px;
	background-color: #f7f7f7;
	transition: .1s;
}
.main-container .input-holder select{
	height: 44px !important;
	width: 102% !important;
	cursor: pointer;
}
.main-container .input-holder input:hover, select:hover{
	box-shadow: 0 0 10px rgb(200, 200, 200, 1.0);
}

.main-container .button-holder {
	padding: 3vh 0vw;
	padding-right: 1%;
	margin: 20px auto;
	height: 5vh;
	border: 0;
	margin-top: 10px;
	border-radius: 5px;
	display: grid;
}
.main-container .button-holder button{
	padding: 15px;
	width: 150px;
	height: 50px;
	border: none;
	background-color: rgb(200, 200, 200, 1.0);
	color: #011627;
	font-weight: bolder;
	border-radius: 5px;
	cursor: pointer;
	margin-left: auto;
	align-self: end;
}
.main-container .button-holder button:hover{
	background-color: #32cd32;
	color: white;
	transition: .3s;
	box-shadow: 0 0 10px grey;
}


.required::after {
	content: ' *';
	color: red;
}





/* TABLE SECTION */
.table-section .main-container {
	width: 60vw !important;
	padding: 5vh 5vw;
}
.table-section .section-header {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 10vh;
}
.table-section .section-header .header-container {
	text-align: left;
	width: 60%;
}
.table-section .section-header .search-container {
	height: 100px;
	width: 40% !important;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.table-section .section-header .search-container input{
	padding: 1vh;
	width: 60% !important;
	height: 40px;
	border: 1px solid rgb(225, 225, 225, 1.0);
	margin-top: 10px;
	border-radius: 15px 0 0 15px;
	background-color: #f7f7f7;
}
.table-section .section-header .search-container .search-button{
	width: 20% !important;
	height: 40px;
	border: 1px solid rgb(225, 225, 225, 1.0);
	margin-top: 10px;
	border-radius: 0 15px 15px 0;
	background-color: #b9b9b9;
}
.table-section .section-header .search-container .search-bar-interction{
	background-color: #32cd32;
	color: white;
}
.table-section .section-header .search-container .search-bar-no-interaction{
	background-color: #b9b9b9;
	color: black;
}
.table-section  table {
	width: 100%;
	margin: 20px auto 30px auto;
	border-spacing: 0;
	text-align: left;
}
.table-section th {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid grey;
}
.table-section td {
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px solid gray;
}
.table-section .odd-row {
	background-color: white;
}
.table-section .even-row {
	background-color: #c2d6c6;	
}
.table-section .main-container .number-navigation{
	width: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.table-section .main-container .number-navigation button{
	width: 30px !important;
	height: 30px !important;
	background-color: #cfcfcf;
	border: 0;
	margin: 0 10px;
}
.table-section .main-container .number-navigation button.current{
	background-color: #32cd32;
	color: white;
}
.table-section .main-container .number-navigation button:hover{
	background-color: #32cd32;
	color: white;
	transition: .3s;
	box-shadow: 0 0 5px grey;
	border: 0 !important;
}
button:hover{
	background-color: #32cd32 !important;
	color: white;
	transition: .3s;
	box-shadow: 0 0 5px grey;
	border: 0 !important;
}


/* OTHERS */
.width-third {
	width: 33% !important;
}
.width-half {
	width: 50% !important;
}
.width-full {
	width: 100% !important;
}

.txt-sc-black {
	color: #011627;
}
.txt-sc-red {
	color: #F71735;
}
.txt-sc-blue {
	color: #41EAD4;
}
.txt-sc-yellow {
	color: #FF9F1C;
}

.bg-sc-black {
	background-color: #011627;
}
.bg-sc-red {
	background-color: #F71735;
}
.bg-sc-blue {
	background-color: #41EAD4;
}
.bg-sc-yellow {
	background-color: #FF9F1C;
}