body {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
	margin: 0;
	/* background-image: url('https://kcp.edusuite.asia/img/login_bg.png') ; */
	background-size: auto;
	background-repeat: no-repeat;
}


.container-section {
	margin: 8vh;
	display: flex;
	justify-content: center;
}

.main-container {
	width: 60vw;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px grey;
}
.main-container .form-title {
	text-align: left;
}
.main-container p {
	margin: 0;
}
.main-container label {
	color: #888;
}
.main-container .input-holder-wrapped {
	margin: 15px 0;
	display: flex;
	width: 100%;
	flex-flow: row;
}
.main-container .input-holder-wrapped .input-holder {
	padding: 1vh 0vw;
	padding-right: 30px;
	margin: 40px auto;
	height: 5vh;
	border: 0;
	margin-top: 10px;
	border-radius: 5px;
}
.main-container .input-holder input, select{
	padding: 1vh;
	width: 100% !important;
	height: 30px;
	border: 1px solid rgb(225, 225, 225, 1.0);
	margin-top: 10px;
	border-radius: 5px;
	background-color: #f7f7f7;
	transition: .1s;
}
.main-container .input-holder select{
	height: 44px !important;
	width: 102% !important;
	cursor: pointer;
}
.main-container .input-holder input:hover, select:hover{
	box-shadow: 0 0 10px rgb(200, 200, 200, 1.0);
}

.main-container .button-holder {
	padding: 3vh 0vw;
	padding-right: 1%;
	margin: 20px auto;
	height: 5vh;
	border: 0;
	margin-top: 10px;
	border-radius: 5px;
	display: grid;
}
.main-container .button-holder button{
	padding: 15px;
	width: 150px;
	height: 50px;
	border: none;
	background-color: rgb(200, 200, 200, 1.0);
	color: #011627;
	font-weight: bolder;
	border-radius: 5px;
	cursor: pointer;
	margin-left: auto;
	align-self: end;
}
.main-container .button-holder button:hover{
	background-color: #F71735;
	color: white;
	transition: .3s;
	box-shadow: 0 0 10px grey;
}

.required::after {
	content: ' *';
	color: red;
}





/* TABLE SECTION */

.table-section .main-container {
	width: 90vw !important;
}
.table-section  table {
	width: 80%;
	margin: auto;
	border-spacing: 0;
	text-align: left;
}
.table-section th {
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid black;
}
.table-section td {
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px solid gray;
	
}




/* OTHERS */

.width-third {
	width: 33% !important;
}
.width-half {
	width: 50% !important;
}
.width-full {
	width: 100% !important;
}

.txt-sc-black {
	color: #011627;
}
.txt-sc-red {
	color: #F71735;
}
.txt-sc-blue {
	color: #41EAD4;
}
.txt-sc-yellow {
	color: #FF9F1C;
}

.bg-sc-black {
	background-color: #011627;
}
.bg-sc-red {
	background-color: #F71735;
}
.bg-sc-blue {
	background-color: #41EAD4;
}
.bg-sc-yellow {
	background-color: #FF9F1C;
}